[genuitec-file-id="wc1-3"],[genuitec-lp-path="/auto_test_paper_generation/WebRoot/css/custom-popup/custom.popup-v1.3.5.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

/*这里没有统一字体样式是因为开发者在使用过程中使用的字体是不固定的*/
.lzy_custom_bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999;
    display: none;
}

.lzy_custom_popup {
    position: fixed;
    z-index: 1000000;
    background-color: white;
    display: none;
    overflow: hidden;
}

.lzy_custom_popup * {
    font-size: 16px;
}

.lzy_popup_nav {
    width: 100%;
    height: 29px;
    border-bottom: 1px solid black;
}

.lzy_popup_nav_move {
    cursor: move;
}

.lzy_nav_icon {
    width: 16px;
    height: 16px;
    float: left;
    margin: 6px 0 0 5px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    line-height: 16px;
}

.lzy_nav_title {
    width: calc(100% - 81px);
    height: 100%;
    float: left;
    line-height: 29px;
    margin-left: 5px;
    color: black;
}

.lzy_popup_nav svg {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.lzy_popup_nav rect,
.lzy_popup_nav line {
    stroke-width: 2;
}

.lzy_nav_close,
.lzy_nav_full {
    position: relative;
    float: right;
    margin-top: 6px;
    margin-right: 8px;
}

.lzy_nav_full {
    display: none;
    width: 18px;
    height: 18px;
}

.lzy_nav_close rect:nth-child(1),
.lzy_nav_full rect:nth-child(1) {
    fill: rgba(0, 0, 0, 0);
}

.lzy_nav_full rect:nth-child(2) {
    fill: rgba(0, 0, 0, 0);

}

.lzy_popup_cont {
    width: calc(100% - 20px);
    height: calc(100% - 68px);
    text-align: center;
    padding: 0 10px;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lzy_popup_cont > * {
    display: inline-block;
    max-width: 100%;
    width: auto;
    height: auto;
}

.lzy_popup_footer {
    width: 100%;
    height: 34px;
    text-align: right;
    line-height: 34px;
}

.lzy_footer_btn {
    min-width: 60px;
    width: auto;
    height: 25px;
    cursor: pointer;
    border: 1px solid black;
    color: white;
    outline: none;
    margin: 0 8px;
    padding: 0 10px;
}

.lzy_popup_footer > div:first-child {
    margin-left: 10px;
}

.lzy_popup_footer > div:last-child {
    margin-right: 10px;
}

/****弹出风格**************/
.lzy_popup_show_1 {
    transform: scale(1, 1);
    animation: lzyPopupShow_1 .3s 1;
}

@keyframes lzyPopupShow_1 {
    0% {
        opacity: .5;
        transform: scale(.5)
    }
    80% {
        opacity: .8;
        transform: scale(1.1)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.lzy_popup_close_1 {
    transform: scale(.8, .8);
    animation: lzyPopupClose_1 .3s 1;
}

@keyframes lzyPopupClose_1 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
    80% {
        opacity: .8;
        -webkit-transform: scale(1.1)
    }
    100% {
        opacity: .5;
        -webkit-transform: scale(.5)
    }
}

/*******收缩风格**********************************/
.lzy_popup_show_2 {
    transform: scale(1, 1);
    animation: lzyPopupShow_2 .3s 1;
}

@keyframes lzyPopupShow_2 {
    0% {
        opacity: .5;
        transform: scale(3.5)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.lzy_popup_close_2 {
    transform: scale(.2);
    animation: lzyPopupClose_2 .3s 1;
}

@keyframes lzyPopupClose_2 {
    0% {
        -webkit-transform: scale(1)
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0)
    }
}

/****旋转风格**************/
.lzy_popup_show_3 {
    transform: translateX(0) rotate(0);
    animation: lzyPopupShow_3 .3s 1;
}

@keyframes lzyPopupShow_3 {
    0% {
        opacity: 0;
        transform: translateX(-100%) rotate(-120deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0) rotate(0);
    }
}

.lzy_popup_close_3 {
    transform: rotate(180deg);
    animation: lzyPopupClose_3 .3s 1;
}

@keyframes lzyPopupClose_3 {
    0% {
        opacity: 1;
        transform: translateX(0) rotate(0);
    }
    100% {
        opacity: 0;
        transform: translateX(150%) rotate(120deg);
    }
}

/****下滑风格**************/
.lzy_popup_show_4 {
    transform: translateY(0);
    animation: lzyPopupShow_4 .3s 1;
}

@keyframes lzyPopupShow_4 {
    0% {
        opacity: 0;
        transform: translateY(-150%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.lzy_popup_close_4 {
    transform: translateY(180%);
    animation: lzyPopupClose_4 .3s 1;
}

@keyframes lzyPopupClose_4 {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(180%);
    }
}

/****上滑风格**************/
.lzy_popup_show_5 {
    transform: translateY(0);
    animation: lzyPopupShow_5 .3s 1;
}

@keyframes lzyPopupShow_5 {
    0% {
        opacity: 0;
        transform: translateY(150%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.lzy_popup_close_5 {
    transform: translateY(-180%);
    animation: lzyPopupClose_5 .3s 1;
}

@keyframes lzyPopupClose_5 {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-180%);
    }
}

/****抖动风格**************/
.lzy_popup_show_6 {
    transform: translateY(0);
    animation: lzyPopupShow_6 .3s 1;
}

@keyframes lzyPopupShow_6 {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.lzy_popup_close_6 {
    transform: translateY(-180%);
    animation: lzyPopupClose_6 .3s 1;
}

@keyframes lzyPopupClose_6 {
    0% {
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
    100% {
        opacity: .3;
        transform: translateX(0);
    }
}
