
         
 	#fontDiv{
 		margin:60px auto;
 		width:404px;
 		text-align:center;
 	}
 	
  	#loginDiv{
  		width:404px;
  		height:400px;
        margin:60px auto;
        border:1px solid #e5e5e5;
        border-radius:4px;
        box-shadow:0 4px 18px rgba(0,0,0,0.2);
        position:relative;
        overflow:hidden;
  	}
  	#loginBox{
  		position:absolute;
  		width:320px;
  		left:0;
        top:0;
        padding: 42px 42px 36px;
        transition:all 0.8s;
  	}
  	.box-row{
  		margin-bottom:12px;
  	}
  	#verify{
  		width:60px;
  	}
  
  	.inputArea, .Btn{
  		height: 40px;
        width: 100%;
        padding: 0 10px;
        border: 1px solid #9da3a6;
        background: #fff;
        text-overflow: ellipsis;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: #000;
        font-size: 1em;
        font-family: Helvetica,Arial,sans-serif;
        font-weight: 400;
        direction: ltr;
        font-size:13px;
  	}
  	#verify{
  		width: 35%;
  	}
  	#verifyImg{
  		vertical-align:middle;
  	}
  	.Btn{
  		background-color: #0070ba;
        color:#fff;
        border:1px solid #0070ba;
  	}
  	.Btn:hover {
            background-color:#005ea6;
    }
    .err {
        margin:5px 0 0;
        line-height:12px;
        height:12px;
        font-size:12px;
        color:red;
    }
    .verBox {
            position:absolute;
            width:100%;
            text-align:center;
            left:404px;
            top:0;
            opacity:0;
            transition:all 0.8s;
            padding-top:55px;
        }